# Version control
.git
.gitignore

# Development artifacts
*.md
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
keyserver
*.exe

# Ignore Go dependency files
Gopkg.lock
Gopkg.toml
go.sum

# Environment and configuration
*.env*
keyring/

# bash scripts
fetch-authorized.sh

# Docker files
Dockerfile
.dockerignore

# Temporary files
*.log
*.tmp
